@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,wght@0,400;0,500;0,700;1,700&display=swap');

* {
  font-family: 'DM Sans', sans-serif;

}

body {
    font-family: 'DM Sans', sans-serif;
    margin: 0;
    background-color: #e6e6e6;
  
  }

input[type=number], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    background-color: rgb(227, 227, 227);
  }
  
  input[type=submit] {
    width: 20%;
    background-color: #f01f1f;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: 0.3s cubic-bezier();

    
  }
  
  input[type=submit]:hover {
    background-color: #ed6262;
    transition: 0.3s cubic-bezier();
  }
  
  div {
    border-radius: 5px;
    padding: 5px;
    
  }
  
  a {
    color: #f01f1f;
    text-decoration: none;
    transition: 0.2s;

  }

  a:hover {
    color: #f79393;
    transition: 0.2s;
  }

  .frame {
    border-style: solid;
    border-width: 1.5px;
    padding: 15px;
    border-color: rgb(203, 203, 203);
    margin-top: 15px;
  }

  .bold {
    font-weight: 700;
    color: #f01f1f;
  }

  .main-home {
    width: 40%; 
  
  }

  h3 {
    font-size: 1.5rem;
  }

  .note {
    background-color: #f01f1f;
    margin: 0;
    text-align: center;
    color: rgb(238, 238, 238);
    display: inline-block;
    padding-top: 1rem;
  }